In [7]:
import os
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [8]:
# Function for reading the data (hard-coded for now)
def read_data(filename):
    
    _, ext = os.path.splitext(filename)
    
    if ext == '.csv':
        df = pd.read_csv(filename)
    elif ext == '.xls':
        df = pd.read_excel(filename, header=1)
    
    return df

In [9]:
# Read 'credit-data.csv'
df = read_data('data/credit-data.csv')

In [10]:
df.head()

,PersonID,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,zipcode,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,98976,0,1.000000,55,60601,0,505.000000,0.0,2,0,0,0,0.0
1,98991,0,0.547745,71,60601,0,0.459565,15666.0,7,0,2,0,0.0
2,99012,0,0.044280,51,60601,0,0.014520,4200.0,5,0,0,0,0.0
3,99023,0,0.914249,55,60601,4,0.794875,9052.0,12,0,3,0,0.0
4,99027,0,0.026599,45,60601,0,0.049966,10406.0,4,0,0,0,2.0

In [11]:
df.shape

(41016, 13)

In [12]:
# Check the missing data
df.isna().sum()

PersonID                                   0
SeriousDlqin2yrs                           0
RevolvingUtilizationOfUnsecuredLines       0
age                                        0
zipcode                                    0
NumberOfTime30-59DaysPastDueNotWorse       0
DebtRatio                                  0
MonthlyIncome                           7974
NumberOfOpenCreditLinesAndLoans            0
NumberOfTimes90DaysLate                    0
NumberRealEstateLoansOrLines               0
NumberOfTime60-89DaysPastDueNotWorse       0
NumberOfDependents                      1037
dtype: int64

- We can see that there are a lot of missing data for __MonthlyIncome__ and __NumberOfDependents__.
- Therefore, we probably do not want to simply drop all missing data.

In [13]:
df.dtypes

PersonID                                  int64
SeriousDlqin2yrs                          int64
RevolvingUtilizationOfUnsecuredLines    float64
age                                       int64
zipcode                                   int64
NumberOfTime30-59DaysPastDueNotWorse      int64
DebtRatio                               float64
MonthlyIncome                           float64
NumberOfOpenCreditLinesAndLoans           int64
NumberOfTimes90DaysLate                   int64
NumberRealEstateLoansOrLines              int64
NumberOfTime60-89DaysPastDueNotWorse      int64
NumberOfDependents                      float64
dtype: object

We will use the average value of __MonthlyIncome__ and the most common value of __NumberOfDependents__ to fill these missing data.

In [14]:
def fill_continuous_na(df, columns):
    
    for column in columns:
        estimate = round(df[column].mean())
        df[column] = df[column].fillna(estimate)
    
    return df

In [15]:
def fill_categorical_na(df, columns):
    
    for column in columns:
        df[column] = df[column].fillna(99)
        estimate = df[column].value_counts().index[0]
        df[column] = df[column].replace([99], estimate)
    
    return df

In [16]:
df = fill_continuous_na(df, ['MonthlyIncome'])
df = fill_categorical_na(df, ['NumberOfDependents'])

Now we verify that there is no missing data.

In [17]:
df.isna().sum()

PersonID                                0
SeriousDlqin2yrs                        0
RevolvingUtilizationOfUnsecuredLines    0
age                                     0
zipcode                                 0
NumberOfTime30-59DaysPastDueNotWorse    0
DebtRatio                               0
MonthlyIncome                           0
NumberOfOpenCreditLinesAndLoans         0
NumberOfTimes90DaysLate                 0
NumberRealEstateLoansOrLines            0
NumberOfTime60-89DaysPastDueNotWorse    0
NumberOfDependents                      0
dtype: int64

Now that the data seems complete, we should take a closer look at our variables. Specifically, let us have a look at the data dictionary.

In [18]:
# data/data-dictionary.xls
data_dict = read_data('data/data-dictionary.xls')

In [19]:
data_dict.head(14)

,Variable Name,Description,Type
0,SeriousDlqin2yrs,Person experienced 90 days past due delinquenc...,Y/N
1,RevolvingUtilizationOfUnsecuredLines,Total balance on credit cards and personal lin...,percentage
2,age,Age of borrower in years,integer
3,NumberOfTime30-59DaysPastDueNotWorse,Number of times borrower has been 30-59 days p...,integer
4,zipcode,zipcode of the borrower,interget/string
5,DebtRatio,"Monthly debt payments, alimony,living costs di...",percentage
6,MonthlyIncome,Monthly income,real
7,NumberOfOpenCreditLinesAndLoans,Number of Open loans (installment like car loa...,integer
8,NumberOfTimes90DaysLate,Number of times borrower has been 90 days or m...,integer
9,NumberRealEstateLoansOrLines,Number of mortgage and real estate loans inclu...,integer
10,NumberOfTime60-89DaysPastDueNotWorse,Number of times borrower has been 60-89 days p...,integer
11,NumberOfDependents,Number of dependents in family excluding thems...,integer

In [20]:
df.SeriousDlqin2yrs.value_counts()

0    34396
1     6620
Name: SeriousDlqin2yrs, dtype: int64

In [ ]:
df[['SeriousDlqin2yrs']].plot(kind='bar', title=figsize=(15, 10), legend=True, fontsize=12)
plt.show()